/* ================= SECTION ================= */
.section {
  padding: 80px 24px;
  background: var(--color-bright);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.container h2 {
  font-family: dancing-script, cursive;
  font-size: 2rem;
  margin-bottom: 40px;
}

/* ================= GRID ================= */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  text-align: left;
}

/* ================= INFOS ================= */
.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-style: normal; /* wichtig für <address> */
}

.contactLink {
  display: flex;
  align-items: center;
  gap: 10px;

  color: black;
  text-decoration: none;

  transition: color 0.2s ease;

  cursor: pointer;
}

.contactLink:hover {
  color: var(--color-primary);
}

.contactLink div {
  display: flex;
  flex-direction: column;
}

.contactLink svg {
  color: var(--color-primary);
  min-width: 24px;
}

.contactLink:hover svg {
  transform: scale(1.1);
}

/* ================= PROFILE ================= */
.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profileImage {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.profileName {
  font-weight: 500;
  color: var(--color-primary);
}

/* ================= FORM ================= */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form input,
.form textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 0.95rem;
  transition: 0.2s;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--color-primary);
}

.form button {
  background: var(--color-primary);
  color: var(--color-bright);
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  opacity: 0.9;
}

/* ================= STATUS ================= */
.status {
  margin-top: 10px;
  font-size: 0.9rem;
}

/* ================= CTA ================= */
.ctaSection {
  padding: 100px 24px;
  text-align: center;
  background: var(--color-bg-highlight-dark);
  color: var(--color-bright);
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
